div.second-category {
    width: 100%;
    height: 180px;
    text-align: center;
}

div.second-category > a {
    text-decoration: none;
}

div.second-category > a > div {
    display: inline-block;
    margin: 40px;
    padding: 0 20px;
}

div.second-category > a > div > img {
width: 60px;
}

div.second-category > a > div > i {
    font-size: 63px;
    color: gray;
}

div.second-category > a > div > h5 {
    font-family: IranYekan;
    font-size: 12px;
    margin-top: 10px;
    color: black;
}